{%- assign months = "4月,5月,6月,7月,8月,9月,10月,11月,12月,冬～春,3月,不明・不定" | split: "," -%}

<div class="container bg-white rounded mt-5 mb-10 pt-3 pb-3">
  <div class="row justify-content-md-center text-center p-2">

    {%- assign category = include.category -%}
    {% assign programs = site.data.category[category] %}

    <div class="col-md-10">
      <h3 class="p-2">{{ include.title }}</h3>
    </div>

    {%- for row-i in (0..2) -%}

    <div class="col-md-10">
      <div class="container p-0">
        <div class="row">
          {%- for col-i in (0..3) -%}
          {%- assign month-i = row-i | times: 4 | plus: col-i -%}
          {%- assign month = months[month-i] -%}

          <div class="col-3">
            <div class="container p-0">
              <div class="row" style="background-color: #eee;">
                <div class="col-12">
                  <span><small>{{ month }}</small></span>
                </div>
              </div>
              <div class="row" style="min-height:5.5em;">
                <div class="col-12 p-1">

                  {%- for program in programs -%}
                  {% assign programdata = site.data.program[program] %}
                  {% capture display_name %}{{programdata.abbr-name}}
                  {% endcapture %}
                  {% if programdata.month == month %}
                  <a href="#{{ program }}" style="text-decoration: none;"
                      title="{{display_name}}">
                    <span class="rounded d-block bg-conf text-white text-truncate m-1">{{display_name}}</span>
                  </a>
                  {% endif %}
                  {% endfor %}

                </div>
              </div>
            </div>
          </div>
          {%- endfor -%}
        </div>
      </div>
    </div>
    {%- endfor -%}
    <small>
      ※ カレンダーは目安です。特に、秋入学の方は選考スケジュールが大きく異なる場合があります。
    </small>
  </div>
</div>
