<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.description }}">
  <meta name="keywords" content="{{ site.keywords }}">

  <title>{{page.title}}</title>

  <!-- OGP -->
  <meta property="og:url" content="{{site.url}}{{site.baseurl}}/{{page.url}}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{page.title}}">
  <meta property="og:description" content="{% unless !page.description %}{{site.description}}{% else %}{{page.description}}{% endunless %}">
  <meta property="og:image" content="{{site.ogp-img}}">
  <meta property="og:image:alt" content="{{page.title}}">
  <meta property="og:site_name" content="{{page.title}}">
  <meta property="twitter:card" content="summary_large_image"/>
  <meta name="twitter:title" content="{{page.title}}">
  <meta name="twitter:description" content="{% unless !page.description %}{{site.description}}{% else %}{{page.description}}{% endunless %}">
  <meta name="twitter:image:src" content="{{site.ogp-img}}">

  <!-- stylesheet -->
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/dataTables.bootstrap4.min.css">

  <!-- jquery -->
  <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>

  <!-- popper -->
  <script src="https://unpkg.com/@popperjs/core@2"></script>

  <!-- bootstrap @ asset -->
  <script src="{{'/assets/js/bootstrap/bootstrap.js' | relative_url }}"></script>

  <!-- calendar @ asset -->
  <script src="{{'/assets/js/calendar.js' | relative_url }}"></script>

  <!-- datatables -->
  <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.11.4/js/dataTables.bootstrap4.min.js"></script>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">


  <script>
    $(document).ready(function() {
      $("#table").DataTable({
        lengthMenu: [ 5, 10, 15, 20],
        pageLength: 10,
      });
    });
  </script>
</head>
