{%- assign program = site.data.program[include.name] -%}

<div class="container bg-white rounded pb-1 mt-5 mb-5">
  <div class="row">
    <div class="col-12 p-4 pb-0">
      <a name="{{ include.name }}"></a>
      <h2 class="border-bottom mb-1">{{ program.abbr-name }}</h2>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md-11 p-4 mt-2">
      <h5 class="mb-0 d-inline">
        {{ program.full-name }}
      </h5>
      <p class="mb-0 lh-1 d-inline ps-1">
        <small><a href="{{ program.url }}" target="_blank" rel="noopener noreferrer">{{ program.url }}</a></small>
      </p>
      <p class="lh-1 ps-1">
        <small>{{ program.organizer }}</small>
      </p>
      <div class="container p-2 submission">
        <div class="row mb-3">
          <div class="col fw-light">
            <span class="lh-1 fw-bold"><small>生活費（年額）</small></span><br>
            {{ program.living_funding }}
          </div>
          <div class="col fw-light">
            <span class="lh-1 fw-bold"><small>研究費・開発費（年額）</small></span><br>
            {{ program.research_funding }}
          </div>
          <div class="col fw-light">
            <span class="lh-1 fw-bold"><small>期間</small></span><br>
            {{ program.duration }}
          </div>
        </div>
        <div class="row mb-3">
          <div class="col fw-light">
            <span class="lh-1 fw-bold"><small>対象者</small></span><br>
            {{ program.eligible_person }}
          </div>
          <div class="col fw-light">
            <span class="lh-1 fw-bold"><small>対象分野</small></span><br>
            {{ program.eligible_area }}
          </div>
          <div class="col fw-light">
            <span class="lh-1 fw-bold"><small>採用予定数/年</small></span><br>
            {{ program.accepted_num }}
          </div>
        </div>
        <div class="row mb-3">
          <div class="col fw-light">
            <span class="lh-1 fw-bold"><small>継続性</small></span><br>
            {{ program.continuity }}
          </div>
          <div class="col fw-light">
            <span class="lh-1 fw-bold"><small>申請締め切り時期</small></span><br>
            {{ program.deadline }}
          </div>
          <div class="col fw-light">
            <span class="lh-1 fw-bold"><small>所得の扱い</small></span><br>
            {{ program.income_category }}
          </div>
        </div>
        <div class="row mb-3 fw-light">
          <span class="lh-1 fw-bold"><small>副収入の制限</small></span><br>
          <span>{{ program.other_income }}</span>
        </div>
        <div class="row mb-3 fw-light">
          <span class="lh-1 fw-bold"><small>備考</small></span><br>
          <span>{{ program.note }}</span>
        </div>
      </div>

    </div>
  </div>

</div>
